{% if content %}
  <div{{ attributes.addClass('fr-grid-row', 'fr-grid-row--gutters') }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('fr-col-12', 'fr-col-lg-3') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('fr-col-12', 'fr-col-lg-3') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('fr-col-12', 'fr-col-lg-3') }}>
        {{ content.third }}
      </div>
    {% endif %}

    {% if content.fourth %}
      <div {{ region_attributes.fourth.addClass('fr-col-12', 'fr-col-lg-3') }}>
        {{ content.fourth }}
      </div>
    {% endif %}
  </div>
{% endif %}
