<input{{ attributes.addClass('fr-password__input') }} />
{{ children }}

{% include '@dsfr4drupal/templates/form/form-element.error.html.twig' %}

{% if show_password_button %}
  {% set show_password_id = attributes.id ~ '-show' %}
  {% set show_password_input_label = show_password_input_label|default('Show password'|t) %}
  {% set show_password_label = show_password_label|default('Show'|t) %}

  <div class="fr-password__checkbox fr-checkbox-group fr-checkbox-group--sm" >
    <input aria-label="{{ show_password_input_label }}" id="{{ show_password_id }}" type="checkbox" />
    <label class="fr--password__checkbox fr-label" for="{{ show_password_id }}">
      {{ show_password_label }}
    </label>
    </div>
  </div>
{% endif %}
{{ attach_library('dsfr4drupal/component.password') }}
